/* Basic global styles for AgraCA AI Dashboard */

html, body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #f6fbff;
}

* {
  box-sizing: border-box;
}

button:hover {
  opacity: 0.85;
}

table {
  border-collapse: collapse;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d0d7e2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3bac7;
}
